/* --------------------
	css reset
-----------------------*/
/* 初始化标签在所有浏览器中的margin、padding值 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button,img{padding: 0; margin: 0;}
/* 酌情修改 */
body{background:#fff;font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
body,th,td,input,select,textarea,button{font-size:14px;line-height:1.2 ;} /* 重置页面文字属性 */


del,ins,a{text-decoration:none;}
a:hover,a:active,a:focus{ text-decoration:none;} /* 取消a标签点击后的虚线框 */

.clearfix {zoom:1}
.clearfix:after {content: '\20'; display: block; clear: both;}


/* --------------------
	main css
-----------------------*/
/* header */
.header {
	width: 500px;
	margin: 0 auto;
}
.header .title,
.header .newGame,
.header .score {
	float: left;
	height: 80px;
	margin: 15px auto 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	color: #fff;
	line-height: 80px;
	
}
.header .title {
	width: 200px;
	background-color: #01abce;
	font-size: 40px;
	font-weight: 800;
}
.header .newGame {
	width: 150px;
	margin: 15px 20px 15px;
	background-color: #fc8c5e;
	font-size: 20px;
	font-weight: 800;
}
.header .score {
	height: 65px;
	padding-top: 15px;
	width: 110px;
	background-color: #d3d3d3;
	font-size: 16px;
	font-weight: 200;
	line-height: 26px;
}
.header .score .scoreNum {
	font-size: 22px;
	font-weight: 800;
}

/* 2048main */
.container {
	position: relative;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	background-color: #bfbfbf;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.container .backGrid {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #d3d3d3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.container .frontBlock {
	position: absolute;
	width: 100px;
	height: 100px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 56px;
	line-height: 100px;
	text-align: center;
	font-weight: bold;
	transform: translate(-50%,-50%);
}