/* --------------------
	css reset
-----------------------*/
/* 初始化标签在所有浏览器中的margin、padding值 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button,img{padding: 0; margin: 0;}
/* 酌情修改 */
body{background:#fff;font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
body,th,td,input,select,textarea,button{font-size:14px;line-height:1.2 ;} /* 重置页面文字属性 */


del,ins,a{text-decoration:none;}
a:hover,a:active,a:focus{ text-decoration:none;} /* 取消a标签点击后的虚线框 */

.clearfix {zoom:1}
.clearfix:after {content: '\20'; display: block; clear: both;}


/* --------------------
	main css
-----------------------*/
/* header */
.header {
	width: 6.6rem;
	margin: 0 auto;
}
.header .title,
.header .newGame,
.header .score {
	float: left;
	height: 1.2rem;
	margin: 0.5rem auto 0.3rem;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	color: #fff;
	line-height: 1.2rem;
	
}
.header .title {
	width: 2.5rem;
	background-color: #01abce;
	font-size: 40px;
	font-weight: 800;
}
.header .newGame {
	width: 2rem;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	background-color: #fc8c5e;
	font-size: 16px;
	font-weight: 800;
}
.header .score {
	height: 1.2rem;
	width: 1.5rem;
	background-color: #d3d3d3;
	font-size: 16px;
	line-height: 24px;
	position: relative;
}
.header .scoreContainer {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.header .score .scoreNum {
	font-size: 20px;
}

/* 2048main */
.container {
	position: relative;
	width: 6.6rem;
	height: 6.6rem;
	margin: 0 auto;
	background-color: #bfbfbf;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.container .backGrid {
	position: absolute;
	width: 1.4rem;
	height: 1.4rem;
	background-color: #d3d3d3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.container .frontBlock {
	position: absolute;
	width: 1.4rem;
	height: 1.4rem;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 56px;
	line-height: 1.4rem;
	text-align: center;
	font-weight: bold;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

/* --------------------
	mobile css
-----------------------*/

@media screen and (max-width: 500px) {
	/* header */
	.header {
		margin: 0.8rem auto;
	}
	.header .title {
		font-size: 30px;
	}
	.header .newGame {
		font-size: 14px;
	}
	.header .score {
		font-size: 14px;
		line-height: 20px;

	}
	.header .score .scoreNum {
		font-size: 16px;
	}

	/* 2048main */
	.container .frontBlock {
		font-size: 34px;
	}
}